In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import metrics
from sklearn.svm import SVC

In [3]:
df = pd.read_csv('newGender.csv')
df.columns

Index(['Gender', 'Food flavor'], dtype='object')

In [4]:
df['Gender'].replace({
    'Male': 0,
    'Female': 1
}, inplace = True)

In [5]:
df.head()

   Gender Food flavor
0       0       Sweet
1       0       Spicy
2       0       Sweet
3       1       Spicy
4       0       Sweet

In [6]:
df['Food flavor'].replace({
    'Sweet': 0,
    'Spicy': 1
}, inplace = True)

In [7]:
df.head()

   Gender  Food flavor
0       0            0
1       0            1
2       0            0
3       1            1
4       0            0

In [8]:
df.to_csv('preprocessedFlavor.csv', index = False)

In [9]:
new_df = pd.read_csv('preprocessedFlavor.csv')
new_df.head()

   Gender  Food flavor
0       0            0
1       0            1
2       0            0
3       1            1
4       0            0

In [10]:
D = new_df.values
X = D[:,:-1]
y = D[:,-1]
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.25)

In [11]:
clf = KNeighborsClassifier(n_neighbors=3)
clf.fit(X_train, Y_train)
yPred=clf.predict(X_test)
acc=accuracy_score(Y_test.astype(int), yPred.astype(int))
print('Accuracy with 3 neighbours: ',acc)

Accuracy with 3 neighbours:  0.6538461538461539

In [12]:
confusion_matrix(Y_test,yPred)

array([[ 0,  9],
       [ 0, 17]], dtype=int64)

In [13]:
from sklearn.naive_bayes import BernoulliNB

In [14]:
clfNB = BernoulliNB()
clfNB.fit(X_train, Y_train)
yPred=clfNB.predict(X_test)
acc=accuracy_score(Y_test.astype(int), yPred.astype(int))
acc

0.6538461538461539

In [15]:
confusion_matrix(Y_test, yPred)

array([[ 0,  9],
       [ 0, 17]], dtype=int64)

In [16]:
df.corr()

               Gender  Food flavor
Gender       1.000000     0.006032
Food flavor  0.006032     1.000000