In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import metrics
from sklearn.svm import SVC,SVR

In [125]:
data = pd.read_csv('new_dataset2.csv')
data.head()

,Gender,Favorite food names,Expected food price of that favorite food,Month cost for that particular food,Favorite food in summer/winter/rainy season,Food flavor,Favourite food in rainy season
0,NaN,NaN,NaN,NaN,NaN,Sweet,NaN
1,Male,"Pasta, Pizza, Kacchi, Chinese, Traditional, Ri...",400,1000,Khacchi,Spicy,"Pasta, Pizza"
2,Male,Burger,200,600,Winter,Sweet,Mango
3,Female,Kacchi Biriyani,150 BDT,150 BDT,Kacchi Biriyani,Spicy,Khicuri with Hilsha Fry
4,Male,Kacci,200,400,NaN,Sweet,nothing special

In [3]:
season = pd.read_csv('season.csv')
season.head()

  Preferred Food Season
0            NaN    NaN
1          Pasta  rainy
2          Mango  rainy
3       Khichuri  rainy
4           None  rainy

In [4]:
season = season.dropna()

In [5]:
season.head()

  Preferred Food Season
1          Pasta  rainy
2          Mango  rainy
3       Khichuri  rainy
4           None  rainy
5       Khichuri  rainy

In [6]:
season['Season'].replace({
    'rainy': 0,
    'summer': 1,
    'winter': 2
}, inplace = True)

In [7]:
season.head()

  Preferred Food  Season
1          Pasta       0
2          Mango       0
3       Khichuri       0
4           None       0
5       Khichuri       0

In [8]:
season['Preferred Food'].unique()

array(['Pasta', 'Mango', 'Khichuri', 'None', 'Coffee', 'Burger', 'Soup',
       'Jhal Muri', 'Kacchi', 'Tea', 'Biriyani', 'Pitha', 'Fish',
       'Icecream', 'Beef', 'Fruits', 'Fries', 'Spicy foods', 'Payes',
       'Cold Coffee', 'Juice', 'Halim', 'Onthon', 'Curry', 'Lichi',
       'Fruit Salad', 'Momo', 'Faluda', 'Grill', 'Vegetable', 'Orange'],
      dtype=object)

In [9]:
season['Preferred Food'].replace({
    'Pasta' : 0,
    'Mango': 1,
    'Khichuri': 2,
    'Coffee' : 3,
    'Burger' : 4,
    'Soup' : 5,
    'Jhal Muri' : 6,
    'Kacchi' : 7,
    'Tea' : 8,
    'Biriyani': 9,
    'Pitha' : 10,
    'Fish' : 11,
    'Icecream' : 12,
    'Beef' : 13,
    'Fruits' : 14,
    'Fries' : 15,
    'Spicy foods': 16,
    'Payes' : 17,
    'Cold Coffee': 18,
    'Juice': 19,
    'Halim': 20,
    'Onthon': 21,
    'Curry': 22,
    'Lichi': 23,
    'Fruit Salad': 24,
    'Momo': 25,
    'Faluda': 26,
    'Grill': 27,
    'Vegetable': 28,
    'Orange': 29,
    'None': 30
}, inplace = True)

In [10]:
season.head()

   Preferred Food  Season
1               0       0
2               1       0
3               2       0
4              30       0
5               2       0

In [11]:
season.to_csv('preprocessedSeason.csv', index = False)

In [12]:
new_df = pd.read_csv('preprocessedSeason.csv')
new_df.head()

   Preferred Food  Season
0               0       0
1               1       0
2               2       0
3              30       0
4               2       0

In [13]:
D = new_df.values
X = D[:,:-1]
y = D[:,-1]
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.25)

In [14]:
clf = KNeighborsClassifier(n_neighbors=3)
clf.fit(X_train.astype(int), Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [15]:
yPred=clf.predict(X_test.astype(int))
acc=accuracy_score(Y_test.astype(int), yPred.astype(int))
print('Accuracy with 3 neighbours: ',acc)

Accuracy with 3 neighbours:  0.5068493150684932

In [16]:
mnb = MultinomialNB()
mnb.fit(X_train,Y_train)
Y_pred = mnb.predict(X_test)
accMNB = accuracy_score(Y_test.astype(int), Y_pred.astype(int))
print('Accuracy: ',accMNB)

Accuracy:  0.3424657534246575

In [17]:
import operator
print('Predicted : '+ repr(Y_pred) + 'Actual: ' + repr(Y_test))

Predicted : array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0], dtype=int64)Actual: array([0, 0, 1, 1, 0, 2, 2, 1, 1, 2, 2, 0, 1, 1, 2, 2, 1, 1, 1, 1, 0, 1,
       1, 0, 2, 0, 1, 0, 0, 0, 2, 2, 1, 2, 1, 1, 0, 2, 0, 1, 2, 0, 0, 1,
       0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, 1, 1, 2, 2, 1, 0, 2, 1, 0, 1, 2,
       0, 2, 2, 0, 1, 0, 0], dtype=int64)

In [20]:
clfSVM = SVR(gamma='auto', C=1.0, epsilon=0.2)
clfSVM.fit(X_train,Y_train)
Y_predS = mnb.predict(X_test)
accSVM = accuracy_score(Y_test, Y_predS)
print('Accuracy: ',accSVM)

Accuracy:  0.3424657534246575

In [21]:
clfSVC = SVC(kernel = 'rbf')
clfSVC.fit(X_train,Y_train)

c:\users\farzana\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [22]:
y_pred = clfSVC.predict(X_test)
print("Accuracy:",accuracy_score(Y_test, y_pred))

Accuracy: 0.5753424657534246

In [23]:
confusion_matrix(Y_test,y_pred)

array([[20,  4,  1],
       [ 6,  9, 10],
       [ 3,  7, 13]], dtype=int64)